// Navigation code here

.header {
    // position: relative;
    width: 100%;
    padding: 14px 0 10px;
    margin: 0;
    // left: calc(-50vw + 55%);
    background-color: @nav-bg;
    border-bottom: 2px solid @nav-border;
    

    
    

    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        nav {

            padding: 19px 0 0 ;
        
        }
        a {
        text-align: center;
        font-size: 1.6rem;
        padding: 0 15px 0;
        text-decoration: none;
        color: @river-bend;
        }
    }
  }